.start-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1dcdc;
}
.start-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.start-left {
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 38px;
  flex-direction: column;
  padding-bottom: 38px;
  justify-content: center;
}
.start-links {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.start-navlink {
  font-size: 50px;
  text-decoration: none;
}
.start-link {
  font-size: 30px;
  text-decoration: none;
}
.start-link1 {
  font-size: 30px;
}
.start-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.start-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.start-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.start-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.start-dropdown-arrow {
  transition: 0.3s;
}
.start-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.start-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.start-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.start-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.start-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.start-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.start-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.start-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.start-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.start-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.start-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.start-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.start-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.start-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.start-image {
  width: 200px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .start-container {
    background-color: #f1dcdc;
  }
  .start-centered {
    width: 910px;
    height: 117px;
  }
}
@media(max-width: 1200px) {
  .start-container1 {
    height: 541px;
    margin-top: 0px;
  }
  .start-text03 {
    text-align: center;
  }
  .start-image {
    width: 332px;
    height: 317px;
  }
}
@media(max-width: 991px) {
  .start-centered {
    width: 929px;
    height: 107px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .start-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .start-links {
    display: none;
  }
}
@media(max-width: 767px) {
  .start-centered {
    width: 767px;
    height: 92px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .start-left {
    margin-left: var(--dl-space-space-unit);
  }
  .start-link {
    font-size: 20px;
  }
  .start-link1 {
    font-size: 20px;
  }
  .start-right {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .start-centered {
    width: 479px;
    height: 94px;
  }
  .start-navlink {
    font-size: 30px;
  }
  .start-link {
    font-size: 20px;
    text-decoration: none;
  }
  .start-link1 {
    font-size: 20px;
  }
}
